<section>
  <div class="row mb-4">
    <div class="col-lg-7 mb-4 mb-lg-0">
      <div class="card">
        <div class="card-header">
          <h2 class="h6 text-uppercase mb-0">Product of Company</h2>
        </div>
        <div class="card-body">
          <p class="text-gray">Amount Product of Company</p>
          <div class="chart-holder">
            <div id="columnChartContainer" style="height: 370px; width: 100%;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-5 mb-4 mb-lg-0">
      <div class="card mb-3">
        <div class="card-body">
          <div class="row align-items-center mb-3 flex-row">
            <div class="col-lg-12">
              <div id="circleChartContainer" style="height: 370px; width: 100%;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
