<!--<div class="container-fuild bg-main">-->
  <!--<div class="menu">-->
    <nav class="menu bg-main navbar fixed-top navbar-expand-lg navbar-light ">
      <a class="navbar-brand" routerLink="/" >
        <img style="width: 180px; height: 55px" src="../../../assets/wallpaper/logo.png" />
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse row" id="navbarSupportedContent">

        <form class="form-inline my-2 my-lg-0 col-6">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>

        <ul class="col-1"></ul>
        <div *ngIf="checkAuthGuard(); else elseBlock">
          <ul class="navbar-nav mr-auto col-5">
            <li class="nav-item active">
              <a class="nav-link my-border" routerLink="/home">News
                <span class="sr-only">(current)</span>
              </a>
            </li>

            <!--<li class="br-l"></li>-->

            <li class="nav-item">
              <a class="nav-link my-border" >Subscriptions</a>
            </li>

            <!--<li class="br-l"></li>-->

            <li class="nav-item">
              <a class="nav-link" routerLink="/compare" tabindex="-1" aria-disabled="true">Compare</a>
              <span *ngIf="count > 0" class="numb-badge">{{count}}</span>
            </li>

            <!--<li class="br-l"></li>-->

            <li class="nav-item">

            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false">
                <img class="menu-avar" src="../../../assets/image/avar-pay.png"/>
                {{fullName}}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
<!--                <a class="dropdown-item" href="#">Action</a>-->
<!--                <a class="dropdown-item" href="#">Another action</a>-->
                <a class="dropdown-item" *ngIf="!isCompany()" routerLink="/user-page">Your Page</a>
                <a class="dropdown-item" *ngIf="isCompany()" [routerLink]="'/company/' + idCompany">Company Page</a>
                <a class="dropdown-item" routerLink="/feedback">Feedback Website</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="removeToken()">Sign Out</a>

              </div>
            </li>
          </ul>
        </div>
        <ng-template #elseBlock>
          <ul class="navbar-nav mr-auto col-5">
            <li class="nav-item active">
              <a class="nav-link my-border" routerLink="/home">News
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link my-border" routerLink="/signup">Sign up
                <span class="sr-only"></span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/login">Sign In
                <span class="sr-only"></span>
              </a>
            </li>
          </ul>
        </ng-template>
      </div>
    </nav>
  <!--</div>-->
<!--</div>-->
