<div class="container-fuild bg-main">
  <div class="menu">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#">
        <i class="fa fa-home fa-2x"></i>
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse row" id="navbarSupportedContent">

        <form class="form-inline my-2 my-lg-0 col-6">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>

        <ul class="navbar-nav mr-auto col-6">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/home" >News <span class="sr-only">(current)</span></a>
          </li>
          
          <li class="br-l"></li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/company">Subscriptions</a>
          </li>

          <li class="br-l"></li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/login" tabindex="-1" aria-disabled="true">Compare</a>
          </li>

          <li class="br-l"></li>

          <li class="nav-item">

          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img class="menu-avar" src="../../../assets/image/avar-pay.png" />
              Nguyen Van A
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
              <a class="dropdown-item" href="user-update-page">Change Your Account</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
