.menu {
  width: 100%;
  padding: 0 50px 0 50px;
}

.menu .form-control {
  width: 100%;
}

.nav-link, .navbar-brand {
  color: white !important;
}

.menu-avar {
  width: 50px;
  height: 50px;
  border-radius: 90px;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 50px;
}

.menu .nav-link.my-border {
  border-right: 1px solid #0b899c;
}

.menu .nav-link:hover {
  background: #0b899c;
  border-radius: 5px;
}

.menu .nav-link.dropdown-toggle {
  background: none;
}

.menu .nav-link.dropdown-toggle img {
  margin-right: 10px;
}

.menu .br-l {
  margin: 0px;
}

.br-l {
  border-left: 1px solid silver;
}
.numb-badge {
  position: relative;
  top: -10px;
  right: 10px;
  padding: 0px 6px;
  border-radius: 50%;
  background: red;
  color: white;
  line-height: 18px;
  font-size: 10px;
  cursor: pointer;
  width: 18px;
  height: 18px;
}
