.container-fuild.main{
  width: 80%;
  margin: 0 auto;
}

.container-post, .container-rank {
  border: 1px solid silver;
  border-radius: 5px;
  background: white;
}

.top-company {
  height: 100%;
  padding: 10px;
}

.top-company .title, .hot-tag .title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 1px solid silver;
  margin-bottom: 10px;
}

.top-company .content {

}

.top-company .content .stt {
  text-decoration: underline;
  font-weight: bold;
}

.hot-tag {
  border-top: 1px solid black;
  padding: 10px;
}

.hot-tag span {
  margin: 5px;
}

.badge {
  font-size: 14px;
  padding: 10px;
  cursor: pointer;
}
