.none {
  display: none;
}

.block {
  display: block;
}


.comment {
  padding: 10px;
  border-top: 1px solid silver;
}

.show-all-comment {
  text-align: right;
  font-size: 12px;
  padding: 5px;
  margin: 0;
  cursor: pointer;
  border-top: 1px solid silver;
}

.view-comment {
  margin-top: 15px;
  font-size: 14px;
}

.view-comment .avatar-comment {
  width: 7%;
  float: left;
  min-width: 50px;
}

.view-comment .avatar-comment img {
  height: 38px;
  border-radius: 90px;
  border: 1px solid silver;
  margin: 0 auto;
}


.view-comment .input-comment {
  width: 90%;
  float: left;
/*  */
}

.view-comment .input-comment p:first-child {
  min-height: 38px;
  outline: none;
  border-radius: 90px !important;
  background: #f2f3f5;
  padding: 10px 18px;
  word-break: break-all;
  /*display: flex;*/
  /*align-items: center;*/
}

.view-comment .input-comment .btn-reply {
  margin: 0 0 5px 20px;
  font-size: 14px;
}

.view-comment .input-comment .btn-reply:hover {
  text-decoration: underline;
  cursor: pointer;
}

.view-comment .input-comment .username {
  font-weight: bold;
  margin-right: 10px;
}


.view-comment .input-comment input {
  outline: none;
  border-radius: 90px !important;
}

.view-comment .input-comment input:focus {
  box-shadow: none;
}

.reply-comment {
  display: none;
}

.content-comment {
  width: 92%;
  float: left;
}

.input-comment.sub {
  /*width: 86% !important;*/
}

/*.myEditComment:hover .button-comment {*/
/*  display: block;*/
/*}*/

.button-comment {
  /*display: none;*/
  /*width: 7%;*/
  /*border: 1px solid black;*/
  border: none;
  float: right;
  min-height: 38px;
  cursor: pointer;
  text-align: center;
  background-color: white;
  font-weight: bold;
  color: silver;
  letter-spacing: 2px;
  font-size: 16px;
}

.content-comment.sub {
  /*width: 94%;*/
}

.button-comment.sub {
  width: 8% !important;
}

.input-comment.sub-2 {
  width: 88% !important;
}

.input-comment .button-comment {
  display: none;
}

.input-comment:hover .button-comment {
  display: block;
}

button:focus {
  outline: none;
}

.time-ago span {
  font-size: 12px;
}
