<div [id]="'container-comment-'+idProduct" [class]="!isCheck ? 'none comment' : 'block comment'">
  <div class="view-comment" *ngFor="let item of dataComment">
    <div class="pb-2">
      <div class="clearfix">
        <div class="avatar-comment">
          <div class="m-0 item-avatar">
            <img [src]="item.imgAvatar" alt="image"/>
          </div>
        </div>
        <div class="input-comment">
          <div class="clearfix">
            <p class="mb-0 content-comment">
              <span class="username">
                <a [routerLink]="isRouterName(item.idReviewer)">{{item.fullName}}</a>
                <i class="fas fa-check-circle txt-main" *ngIf="item.idReviewer.split('_')[0] !== 'REVIEWER'" ></i>
              </span>
              <span class="content">{{item.content}}</span>
            </p>

            <div class="dropdown">
              <button  (click)="addLabel('dropdown_'+idProduct)" class="mb-0 button-comment" role="button" type="button" [id]="'dropdown_'+idProduct" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">. . .</button>
              <div class="dropdown-menu">
                <a class="dropdown-item" *ngIf="item.idReviewer !== idUser">Report this comment</a>
                <a class="dropdown-item" *ngIf="item.idReviewer === idUser">Edit</a>
              </div>
            </div>
          </div>
          <p class="m-0">
            <span class="btn-reply txt-main" (click)="replyComment(item)" >Reply</span>
          </p>
        </div>
      </div>

      <div *ngIf="item.children.length > 0">
        <div class="view-comment" style="padding-left: 50px; margin-top: 15px"  *ngFor="let itemTwo of item.children">
          <div class="clearfix">
            <div class="avatar-comment">
              <div class="m-0 item-avatar">
                <img [src]="itemTwo.imgAvatar" alt="image"/>
              </div>
            </div>
            <div class="input-comment">
              <p class="m-0">
                <span class="username">
                  <a [routerLink]="isRouterName(itemTwo.idReviewer)">{{itemTwo.fullName}}</a>
                  <i class="fas fa-check-circle txt-main" *ngIf="itemTwo.idReviewer.split('_')[0] !== 'REVIEWER'" ></i>
                </span>
                <span class="content">{{itemTwo.content}}</span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="view-comment reply-comment" style="padding-left: 50px; margin-top: 15px" [id]="'reply-'+item.idComment">
        <div class="clearfix">
          <div class="avatar-comment">
            <div class="m-0 item-avatar">
              <img *ngIf="userInfo" [src]="userInfo.imgAvatar" alt="avatar image"/>
            </div>
          </div>
          <div class="input-comment">
            <input [id]="'inputComment'+item.idProduct" class="form-control" type="text" [(ngModel)]="valueComment" (keydown.enter)="postComment(item)"/>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<p class="show-all-comment txt-main" *ngIf="!isCheck" (click)="showAllComment()">Click here show all comment</p>
<button type="button" style="display: none;" (click)="getData()" [id]="'reload_'+idProduct"></button>
