<div [id]="'container-comment-'+idProduct" [class]="!isCheck ? 'none comment' : 'block comment'">
  <div class="view-comment" *ngFor="let item of dataComment">
    <div class="pb-2">
      <div class="clearfix">

        <div class="avatar-comment">
          <div class="m-0 item-avatar">
            <img [src]="item.imgAvatar" alt="image"/>
          </div>
        </div>

        <div class="input-comment content" [id]="'rootEditComment_'+item.idComment">
          <div class="clearfix">
            <p class="mb-0 content-comment">
              <span class="username">
                <a [routerLink]="isRouterName(item.idReviewer)">{{item.fullName}}</a>
                <i class="fas fa-check-circle txt-main" *ngIf="item.idReviewer.split('_')[0] !== 'REVIEWER'" ></i>
              </span>
              <span class="content">{{item.content}}</span>
            </p>
            <div class="dropdown" *ngIf="item.idReviewer.split('_')[0] !== 'ADMIN' || userRole === 'ROLE_ADMIN'">
              <button (click)="addLabel('dropdown_'+item.idComment)" class="mb-0 button-comment" role="button"
                       type="button" [id]="'dropdown_'+idProduct" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false" >...</button>
              <div class="dropdown-menu">
                <a class="dropdown-item" *ngIf="item.idReviewer !== idUser" (click)="reportComment(item.idComment)">
                  Report this comment
                </a>
                <a class="dropdown-item" *ngIf="item.idReviewer === idUser" (click)="editComment(item)">Edit</a>
              </div>
            </div>
          </div>

          <p class="m-0 mt-1 time-ago">
            <span class="btn-reply txt-main" (click)="replyComment(item)" >Reply</span> ·
            <span *ngIf="item.dateUpdate">{{item.dateUpdate | timeAgo }} · Edited</span>
            <span *ngIf="!item.dateUpdate"> {{item.dateCreate | timeAgo }} </span>
          </p>
        </div>

        <div class="input-comment sub-2 edit" [id]="'editComment_'+item.idComment">
          <input  class="form-control" type="text" [(ngModel)]="valueCommentEdit" (keydown.enter)="editAndPostComment(item)"
          (keydown.escape)="cancelComment(item)" />
          <p class="m-0 mt-1 time-ago">
            <span class="mb-1 ml-3 btn-esc">Press Esc to <span class="txt-main" (click)="cancelComment(item)">cancel</span></span>
          </p>
        </div>
      </div>

      <div *ngIf="item.children.length > 0">
        <div class="view-comment" style="padding-left: 50px; margin-top: 15px"  *ngFor="let itemTwo of item.children">
          <div class="clearfix">

            <div class="avatar-comment">
              <div class="m-0 item-avatar">
                <img [src]="itemTwo.imgAvatar" alt="image"/>
              </div>
            </div>

            <div class="input-comment content sub" [id]="'rootEditComment_'+itemTwo.idComment">
              <div class="clearfix">
                <p class="mb-0 content-comment sub">
                  <span class="username">
                    <a [routerLink]="isRouterName(itemTwo.idReviewer)">{{itemTwo.fullName}}</a>
                    <i class="fas fa-check-circle txt-main" *ngIf="itemTwo.idReviewer.split('_')[0] !== 'REVIEWER'" ></i>
                  </span>
                  <span class="content">{{itemTwo.content}}</span>
                </p>
                <div class="myEditComment dropdown">
                  <button  (click)="addLabel('dropdown_'+itemTwo.idComment)" class="mb-0 button-comment sub" role="button"
                           type="button" [id]="'dropdown_'+idProduct" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">...</button>
                  <div class="dropdown-menu" *ngIf="item.idReviewer.split('_')[0] !== 'ADMIN' || userRole === 'ROLE_ADMIN'">
                    <a class="dropdown-item" *ngIf="itemTwo.idReviewer !== idUser" (click)="reportComment(itemTwo.idComment)">
                      Report this comment
                    </a>
                    <a class="dropdown-item" *ngIf="itemTwo.idReviewer === idUser" (click)="editComment(itemTwo)">Edit</a>
                  </div>
                </div>
              </div>
              <p class="mt-1 ml-0 mb-0 mr-0 time-ago">
                <span class="btn-reply txt-main" (click)="replyComment(item)" >Reply</span> ·
                <span *ngIf="itemTwo.dateUpdate">{{itemTwo.dateUpdate | timeAgo }} · Edited</span>
                <span *ngIf="!itemTwo.dateUpdate"> {{itemTwo.dateCreate | timeAgo }} </span>
              </p>
            </div>

            <div class="input-comment sub-2 edit" [id]="'editComment_'+itemTwo.idComment">
              <input  class="form-control" type="text" [(ngModel)]="valueCommentEdit" (keydown.enter)="editAndPostComment(itemTwo)"
                      (keydown.escape)="cancelComment(itemTwo)" />
              <p class="m-0 mt-1 time-ago">
                <span class="mb-1 ml-3 btn-esc">Press Esc to <span class="txt-main" (click)="cancelComment(itemTwo)">cancel</span></span>
              </p>
            </div>

          </div>
        </div>
      </div>

      <div class="view-comment reply-comment" style="padding-left: 50px; margin-top: 15px" [id]="'reply-'+item.idComment">
        <div class="clearfix">

          <div class="avatar-comment">
            <div class="m-0 item-avatar">
              <img *ngIf="userInfo" [src]="userInfo.imgAvatar" alt="avatar image"/>
            </div>
          </div>

          <div class="input-comment sub-2">
            <input [id]="'inputComment'+item.idProduct" class="form-control" type="text"
                   [(ngModel)]="valueComment" (keydown.enter)="postComment(item)" (keydown.escape)="cancelReply(item)" />
            <p class="m-0 mt-1 time-ago">
              <span class="mb-1 ml-3 btn-esc">Press Esc to <span class="txt-main" (click)="cancelReply(item)">cancel</span></span>
            </p>
          </div>

<!--          <div class="input-comment sub-2 edit" [id]="'editComment_'+item.idComment">-->
<!--            <p class="m-0 mt-1 time-ago">-->
<!--              <span class="mb-1 ml-3 btn-esc">Press Esc to <span class="txt-main" (click)="cancelComment(itemTwo)">cancel</span></span>-->
<!--            </p>-->
<!--          </div>-->

        </div>
      </div>

    </div>
  </div>
</div>
<p class="show-all-comment txt-main" *ngIf="!isCheck" (click)="showAllComment()">Click here show all comment</p>
<button type="button" style="display: none;" (click)="getData()" [id]="'reload_'+idProduct"></button>
