<h5 class="m-0">You Rate Review Company
  <span class="float-right" style="font-size: 14px; color: silver; font-weight: normal" *ngIf="dtCreated">{{dtCreated | timeAgo}}</span>
</h5>
<hr>

<pre class="m-0">Rate: <b>{{dataReview.ratingComp}}</b></pre>
<ngb-rating [(rate)]="dataReview.ratingComp" max="5">
  <ng-template let-fill="fill" let-index="index">
    <span class="star" [class.filled]="fill === 100">&#9733;</span>
  </ng-template>
</ngb-rating>

<pre class="mt-2">Content:</pre>
<label class="mt-1" style="width: 100%">
  <textarea class="form-control" rows="4" style="width: 100%;" [(ngModel)]="dataReview.contentComment"></textarea>
</label>

<div class="btn-group-review clearfix">
  <button class="btn btn-warning float-right" (click)="closeModal()">Cancel</button>
  <button class="btn btn-info float-right mr-2" (click)="saveModal()">Submit</button>
</div>
