<div class="bg-main">
  <div class="menu">
    <nav class="navbar navbar-expand-lg navbar-light ">
      <div class="col-sm-2">
        <a class="navbar-brand" href="#">
          <img style="width: 180px; height: 55px" src="../../../assets/wallpaper/logo.png" />
        </a>
      </div>
      <div class="col-sm-8"></div>
      <div class="col-sm-2">
        <div class="collapse navbar-collapse row float-left" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link my-border" routerLink="/signup">Sign up<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/login">Sign In <span class="sr-only"></span></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
