<div class="row p-main">
  <div class="profile clearfix">
    <div class="image">
      <img src="../../../../assets/wallpaper/banner.jpg" class="img-cover">
    </div>
    <div class="user clearfix">
      <div class="avatar">
        <img src="../../../../assets/wallpaper/avatar2.png" class="img-thumbnail img-profile">
      </div>
      <h2>{{fullName}}</h2>
      <br>
      <div class="list-details">
      </div>
      <div class="actions">
      </div>
    </div>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="profile-card-4 z-depth-3">
        <div class="card">
          <div class="card-body text-center bg-primary rounded-top">
            <h4 class="mb-1 text-white"><i class="fas fa-user-friends" style="font-size: 25px"></i> 2.2k
              <small class="text-light">Followers</small>
            </h4>

          </div>
          <div class="card-body">
            <ul class="list-group shadow-none">
              <li class="list-group-item">
                <div class="list-icon">
                  <i class="fas fa-venus-mars"></i>
                </div>
                <div class="list-details">
                  <div *ngIf="checkGender(); else elseBlock"><span>Male</span></div>
                  <ng-template #elseBlock><span>Female</span></ng-template>
                  <small>Gender</small>
                </div>
              </li>
              <li class="list-group-item">
                <div class="list-icon">
                  <i class="fa fa-envelope"></i>
                </div>
                <div class="list-details">
                  <span>{{emailReviewer}}</span>
                  <small>Email Address</small>
                </div>
              </li>
              <li class="list-group-item">
                <div class="list-icon">
                  <i class="fas fa-calendar-alt"></i>
                </div>
                <div class="list-details">
                  <span>{{dobReviewer}}</span>
                  <small>Day of Birth</small>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="card z-depth-3">
        <div class="card-body">
          <ul class="nav nav-pills nav-pills-primary nav-justified">
            <li class="nav-item">
              <a href="#" data-target="#profile" data-toggle="pill" class="nav-link active show"><i
                class="icon-user"></i> <span class="hidden-xs">Activity History</span></a>
            </li>

            <li class="nav-item">
              <a href="#" data-target="#edit" data-toggle="pill" class="nav-link"><i
                class="icon-note"></i> <span class="hidden-xs">Edit Profile</span></a>
            </li>
            <li class="nav-item">
              <a href="#" data-target="#changepassword" data-toggle="pill" class="nav-link"><i
                class="icon-note"></i> <span class="hidden-xs">Change Password</span></a>
            </li>
          </ul>
          <div class="tab-content p-3">
            <div class="tab-pane active show" id="profile">
              <div class="container">
                <div class="container bootstrap snippets">
                  <div class="col-md-7 col-md-offset-2">
                    <div class="panel panel-body">
                      <!-- Timeline -->
                      <!--===================================================-->
                      <div class="timeline">
                        <!-- Timeline header -->
                        <div class="timeline-header">
                          <div class=" mb-1 text-white timeline-header-title bg-success">Now</div>
                        </div>

                        <div class="timeline-entry">
                          <div class="timeline-stat">
                            <div class="timeline-icon"><img src="https://bootdey.com/img/Content/avatar/avatar1.png"
                                                            alt="Profile picture">
                            </div>
                            <div class="timeline-time">30 Min ago</div>
                          </div>
                          <div class="timeline-label">
                            <p class="mar-no pad-btm"><a href="#" class="btn-link text-semibold">Maria J.</a> shared an
                              image</p>
                            <div class="img-holder">
                              <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Image">
                            </div>
                          </div>
                        </div>
                        <div class="timeline-entry">
                          <div class="timeline-stat">
                            <div class="timeline-icon bg-danger"><i class="fa fa-building fa-lg"></i>
                            </div>
                            <div class="timeline-time">2 Hours ago</div>
                          </div>
                          <div class="timeline-label">
                            <h4 class="mar-no pad-btm"><a href="#" class="text-danger">Job Meeting</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                              tincidunt.</p>
                          </div>
                        </div>
                        <div class="timeline-entry">
                          <div class="timeline-stat">
                            <div class="timeline-icon"><img src="https://bootdey.com/img/Content/avatar/avatar6.png"
                                                            alt="Profile picture">
                            </div>
                            <div class="timeline-time">3 Hours ago</div>
                          </div>
                          <div class="timeline-label">
                            <p class="mar-no pad-btm"><a href="#" class="btn-link text-semibold">Lisa D.</a> commented
                              on <a href="#">The Article</a>
                            </p>
                            <blockquote class="bq-sm bq-open">Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                              sed diam nonummy nibh euismod tincidunt.
                            </blockquote>
                          </div>
                        </div>
                        <div class="timeline-entry">
                          <div class="timeline-stat">
                            <div class="timeline-icon bg-purple"><i class="fa fa-check fa-lg"></i>
                            </div>
                            <div class="timeline-time">5 Hours ago</div>
                          </div>
                          <div class="timeline-label">
                            <img class="img-xs img-circle" src="https://bootdey.com/img/Content/avatar/avatar2.png"
                                 alt="Profile picture">
                            <a href="#" class="btn-link text-semibold">Bobby Marz</a> followed you.
                          </div>
                        </div>

                        <!-- Timeline header -->
                        <div class="timeline-header">
                          <div class="timeline-header-title bg-dark">Yesterday</div>
                        </div>

                        <div class="timeline-entry">
                          <div class="timeline-stat">
                            <div class="timeline-icon bg-info"><i class="fa fa-envelope fa-lg"></i>
                            </div>
                            <div class="timeline-time">15:45</div>
                          </div>
                          <div class="timeline-label">
                            <h4 class="text-info mar-no pad-btm">Lorem ipsum dolor sit amet</h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                              tincidunt.</p>
                          </div>
                        </div>
                        <div class="timeline-entry">
                          <div class="timeline-stat">
                            <div class="timeline-icon bg-success"><i class="fa fa-thumbs-up fa-lg"></i>
                            </div>
                            <div class="timeline-time">13:27</div>
                          </div>
                          <div class="timeline-label">
                            <img class="img-xs img-circle" src="https://bootdey.com/img/Content/avatar/avatar3.png"
                                 alt="Profile picture">
                            <a href="#" class="btn-link text-semibold">Michael Both</a> Like <a href="#">The Article</a>
                          </div>
                        </div>
                        <div class="timeline-entry">
                          <div class="timeline-stat">
                            <div class="timeline-icon"></div>
                            <div class="timeline-time">11:27</div>
                          </div>
                          <div class="timeline-label">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                              tincidunt.</p>
                          </div>
                        </div>
                      </div>
                      <!--===================================================-->
                      <!-- End Timeline -->
                    </div>
                  </div>
                </div>
              </div>
              <!--/row-->
            </div>

            <div class="tab-pane" id="edit">
              <form [formGroup]="updateInfoProfile">
                <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label">First name</label>
                  <div class="col-lg-9">
                      <input class="form-control" type="text" formControlName="firstName">
                    <app-text-alert [field]="'firstName'" [invalidField]="'firstName'" style="width: 100%"
                                    [form]="updateInfoProfile"
                                    [invalidForm]="validatorForm.updateInfoProfile"></app-text-alert>

                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label">Last name</label>
                  <div class="col-lg-9">
                    <input class="form-control" type="text" formControlName="lastName">
                    <app-text-alert [field]="'lastName'" [invalidField]="'lastName'" style="width: 100%"
                                    [form]="updateInfoProfile"
                                    [invalidForm]="validatorForm.updateInfoProfile"></app-text-alert>

                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label">Day of Birth</label>
                  <div class="col-lg-9">
                    <input type="date" name="bday" formControlName="dobReviewer">
                    <app-text-alert [field]="'dobReviewer'" [invalidField]="'dobReviewer'" style="width: 100%"
                                    [form]="updateInfoProfile" [invalidForm]="validatorForm.updateInfoProfile"></app-text-alert>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label">Gender</label>
                  <div class="col-lg-9">
                    <label class="form-check-inline">
                      <input class="form-check-input" type="radio" [value]="true" formControlName="genderReviewer"> Male
                    </label>
                    <label class="form-check-inline">
                      <input class="form-check-input" type="radio" [value]="false" formControlName="genderReviewer"> Female
                    </label>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label">Change Avatar</label>
                  <div class="col-lg-9">
                    <input type="file" (change)="handleFileInput($event.target.files, 'avatar')">
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label">Change Background</label>
                  <div class="col-lg-9">
                    <input type="file" (change)="handleFileInput($event.target.files, 'background')">
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label"></label>
                  <div class="col-lg-9">
                    <input type="reset" class="btn btn-secondary" value="Cancel">
                    <input type="button" class="btn btn-primary" (click)="submitUpdateInfo()" value="Save Changes">
                  </div>
                </div>
              </form>
            </div>

            <div class="tab-pane" id="changepassword">
              <form [formGroup]="ChangePassForm" (submit)="submitChangePass()">
                <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label">Your Current Password</label>
                  <div class="col-lg-9">
                    <input class="form-control" type="password" formControlName="oldPass">
                    <app-text-alert [field]="'oldPass'" [invalidField]="'oldPass'"
                                    [form]="ChangePassForm" [invalidForm]="validatorForm.ChangePassForm"></app-text-alert>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label">New Password</label>
                  <div class="col-lg-9">
                    <input class="form-control" type="password" formControlName="password">
                    <app-text-alert [field]="'password'" [invalidField]="'password'"
                                    [form]="ChangePassForm" [invalidForm]="validatorForm.ChangePassForm"></app-text-alert>

                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label">Confirm New Password</label>
                  <div class="col-lg-9">
                    <input class="form-control" type="password" formControlName="confirmPassword">
                    <app-text-alert [field]="'confirmPassword'" [invalidField]="'confirmPassword'"
                                    [form]="ChangePassForm" [invalidForm]="validatorForm.ChangePassForm"></app-text-alert>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label"></label>
                  <div class="col-lg-9">
                    <input type="reset" class="btn btn-secondary" value="Cancel">
                    <input type="submit" class="btn btn-primary" value="Save Changes">
                  </div>
                </div>
              </form>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
