<div class="row">

  <div class="col-8">
    <div class="boderbody-mid scroll-bar-hidden">
      <div *ngFor="let item of lstPro">
        <app-content-post (eventAction)="checkEventAction($event)" [item]="item"></app-content-post>
      </div>
    </div>
  </div>
  <div class="col-4 sticky-top" style="z-index: 999;">
    <div class="bodercpn text-center">
<!--      <br>-->
      <h3 class="pt-3 mb-0"><span class="pt-1">Rating</span> <span class="mr-1 badge badge-info">(4.5/5)</span></h3>

      <ng-template #t let-fill="fill">
        <span class="star" [class.full]="fill === 100">
          <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
        </span>
      </ng-template>
      <ngb-rating [(rate)]="currentRate" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>

      <!--      <p class="text-info"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i-->
<!--        class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><span-->
<!--        class="badge badge-light">(4.5/5)</span>-->
<!--      </p>-->

      <div *ngIf="checkAuthGuard() && !isCompanyRole()">
        <button class="btn btn-outline-info" (click)="showReview()">
          Review this Company
        </button>
      </div>

    </div>


<!--    <div class="bodercpn margintop">-->
<!--      <h4 class="text-center">Address</h4>-->
<!--      <iframe-->
<!--        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.3257176556144!2d106.66413881462262!3d10.786346192314788!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ed23ca5d8db%3A0x24d414f45e5a523!2zNTkwIEPDoWNoIE3huqFuZyBUaMOhbmcgOCwgUGjGsOG7nW5nIDExLCBRdeG6rW4gMywgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1555667078797!5m2!1svi!2s"-->
<!--        frameborder="0" style="border:0" allowfullscreen></iframe>-->
<!--    </div>-->
  </div>
</div>

