<div class="row p-main">
  <div class="col-3">
    <app-top-company></app-top-company>
  </div>

  <div class="col-6">

    <div class="container-post">
      <div class="header clearfix">
        <div class="avatar">
          <img src="../../../assets/image/avar-pay.png" alt="avatar"/>
        </div>
        <div class="info">
          <p class="title blue">Google</p>
          <p class="title-des">Top company</p>
          <!--<span class="badge badge-primary">Iphone</span> <span class="badge badge-secondary">viet nam vo dich</span>-->
        </div>
      </div>


      <div class="body">
        <div class="content">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non excepturi eum ab commodi eius accusantium modi
            ullam, nisi sint, iusto quis inventore quae eos molestias. Iure eaque, mollitia molestias maxime!
          </p>
        </div>
        <div class="image">
          <img src="../../../assets/wallpaper/loginWall.jpg" alt="image">
        </div>

        <!--<div class="star">-->
        <!--<i class="far fa-star"></i>-->
        <!--<i class="far fa-star"></i>-->
        <!--<i class="far fa-star"></i>-->
        <!--<i class="far fa-star"></i>-->
        <!--<i class="far fa-star"></i>-->
        <!--</div>-->

        <div class="rating">
          <div class="row">
            <div class="col-4">
              <p class="content" (click)="showNotification( 'default', 'Cam on da danh gia' )">
                <i class="far fa-star"></i> Danh gia
              </p>
            </div>
            <div class="col-4">
              <p class="content"><i class="fas fa-comments"></i> Binh luan</p>
            </div>
            <div class="col-4">
              <p class="content"><i class="fas fa-share"></i> Chia se</p>
            </div>
          </div>
        </div>

      </div>


      <div class="footer">
        <div class="content-like">
          <p>
            <span class="title">Nguyen Van A</span>
            <span class="context">Lorem ipsum dolor sit amet</span>
          </p>
        </div>
        <div class="input">
          <textarea placeholder="Them binh luan"></textarea>
        </div>
      </div>
    </div>

  </div>

  <div class="col-3">
    <div class="container-rank">
      <div class="top-company">
        <p class="title">Quang cao</p>
      </div>
    </div>
  </div>
</div>


