<div class="row p-main">
  <div class="col-sm-3">
    <div class="sticky-top" style="top: 80px; z-index: 999;">
      <app-top-company></app-top-company>
    </div>
  </div>

  <div class="col-sm-6">
    <div *ngFor="let item of myData">
      <app-content-post [item]="item" (eventAction)="eventAction($event)" ></app-content-post>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="sticky-top" style="top: 80px; z-index: 999;">
      <app-advertisment></app-advertisment>
    </div>
  </div>
</div>

