<div class="row">
  <div class="col-8">
    <div class="boderbody-mid scroll-bar-hidden">
      <form style="background: white; padding: 20px" [formGroup]="ChangePassForm" class="clearfix mb-3">
        <div class="form-group">
          <label for="curPass">Current Password</label>
          <input class="form-control" type="password" formControlName="oldPass" id="curPass">
          <app-text-alert [field]="'oldPass'" [invalidField]="'oldPass'"
                          [form]="ChangePassForm" [invalidForm]="validatorForm.ChangePassForm"></app-text-alert>
        </div>

        <div class="form-group">
          <label for="newPass">New Password</label>
          <input class="form-control" type="password" formControlName="password" id="newPass">
          <app-text-alert [field]="'password'" [invalidField]="'password'"
                          [form]="ChangePassForm" [invalidForm]="validatorForm.ChangePassForm"></app-text-alert>
        </div>

        <div class="form-group">
          <label for="confirmPass">Confirm New Password</label>
          <input class="form-control" type="password" formControlName="confirmPassword" id="confirmPass">
          <app-text-alert [field]="'confirmPassword'" [invalidField]="'confirmPassword'"
                          [form]="ChangePassForm" [invalidForm]="validatorForm.ChangePassForm"></app-text-alert>
        </div>

        <button type="button" class="btn btn-warning float-right ml-3" (click)="clearPass()" >Clear</button>
        <button type="button" class="btn btn-info float-right" (click)="submitChangePass()" >Save</button>
      </form>
    </div>
  </div>
  <div class="col-4 sticky-top" style="z-index: 999;">
    <app-table-review [idCompany]="idUser" ></app-table-review>
  </div>
</div>

