<div class="p-main margintop">
  <div class="row">
    <div class="col-3 frame-avt">
      <!-- avatar -->
      <div class="border-avt">
        <img src="{{detailCompany.imgAvatarCompany}}" class="" alt="">
        <div class="mt-3">
          <h4 class="">
            {{detailCompany.nameCompany}}
            <i class="fas fa-check-circle txt-main"></i>
          </h4>
        </div>
        <div class="upload" (click)="uploadAvt()" *ngIf="isCompanyAccount()">
          <p><i class="fa fa-camera"></i> Update</p>
        </div>
      </div>

    </div>
    <div class="col-9 frame-avt">
      <!-- backgroud -->
      <div class="boderbg rounded" [ngStyle]="{backgroundImage: 'url(' + detailCompany.imgPanelCompany + ')'}">
<!--        <img-->
<!--          src="{{detailCompany.imgPanelCompany}}"-->
<!--          class="" alt="">-->
      </div>
      <div class="boderbg rounded upload" (click)="uploadPanel()" *ngIf="isCompanyAccount()">
        <p><i class="fa fa-camera"></i> Update</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <!-- menu left -->

      <div class="profile-card-4 z-depth-3">
        <div class="card my-profile">

          <div class="card-body" style="background-color: transparent;">
            <ul class="list-group shadow-none">

              <li class="list-group-item header">
                <div class="btn-group" style="width: 100%">
                  <h5 class="text-center mb-0 pl-3">Information</h5>
                </div>
              </li>

              <li class="list-group-item">
                <div class="list-icon">
                  <i class="fas fa-map-marker-alt"></i>
                </div>
                <div class="list-details">
                  <div class="mb-1">
                    <span>{{detailCompany.addrCompany}}</span>
                  </div>
                  <small>Address</small>
                </div>
              </li>

              <li class="list-group-item">
                <div class="list-icon">
                  <i class="fa fa-envelope"></i>
                </div>
                <div class="list-details">
                  <div  class="mb-1">
                    <span>{{detailCompany.emailCompany}}</span>
                  </div>
                  <small>Email Address</small>
                </div>
              </li>

              <li class="list-group-item">
                <div class="list-icon">
                  <i class="fas fa-globe-asia"></i>
                </div>
                <div class="list-details">
                  <div  class="mb-1">
                    <span>{{detailCompany.webCompany}}</span>
                  </div>
                  <small>Website</small>
                </div>
              </li>

              <li class="list-group-item">
                <div class="list-icon">
                  <i class="fas fa-phone"></i>
                </div>
                <div class="list-details">
                  <div  class="mb-1">
                    <span>{{detailCompany.telCompany}}</span>
                  </div>
                  <small>Phone</small>
                </div>
              </li>

              <li class="list-group-item">
                <div class="list-icon">
                  <i class="fas fa-user-plus"></i>
                </div>
                <div class="list-details">
                  <div  class="mb-1">
                    <span>{{detailCompany.numbSubscribed}}</span>
                  </div>
                  <small>Follower</small>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>


    </div>
    <div class="col-9 accordion" id="accordionExample">
      <!-- menu company -->
      <div class="menucpn">
        <div class="row" style="padding-left: 5px">
          <div *ngIf="checkAuthGuard() && !isCompanyAccount()" class="nav nav-tabs">
            <div>
              <div *ngIf="!isFollowed; else elseBlock">
                <button class="btn btn-outline-warning btnmargin margin-left"
                        (click)="followCompany(detailCompany.idCompany, 'follow')">
                  Subscribe
                </button>
              </div>
              <ng-template #elseBlock>
                <button class="btn btn-warning btnmargin margin-left" style="font-weight: normal"
                        (click)="followCompany(detailCompany.idCompany, 'unfollow')">
                  <i class="fas fa-check"></i> Subscribed
                </button>
              </ng-template>
            </div>
            <a class="my-btn btn btn-outline-info ml-2 active" id="btn-user-timeline"
               data-toggle="tab" href="#timeline" role="tab" (click)="resetButton('timeline')">
              Time Line
            </a>
            <a class="my-btn btn btn-outline-success ml-2" id="btn-user-historyReview"
               data-toggle="tab" href="#historyReview" role="tab" (click)="resetButton('review')">
              History Review
            </a>
          </div>
          <div *ngIf="checkAuthGuard() && isCompanyAccount()" class="nav nav-tabs" id="btn-group">
            <a class="my-btn btn btn-outline-info ml-3 active" id="btn-timeline"
                     data-toggle="tab" href="#timeline" role="tab" (click)="resetButton('timeline')">
              TimeLine
            </a>
            <a class="my-btn btn btn-outline-success ml-2" id="btn-historyReview"
                    data-toggle="tab" href="#historyReview" role="tab" (click)="resetButton('review')">
              History Review
            </a>
            <a class="my-btn btn btn-outline-primary ml-2" id="changeCreateProduct"
               data-toggle="tab" href="#createAndEdit" role="tab" (click)="resetButton('product')">
              Post Product
            </a>
            <a class="my-btn btn btn-outline-warning ml-2 float-right" id="btn-updateProfile"
               data-toggle="tab" href="#updateProfile" role="tab" (click)="resetButton('review')">
              Update Profile
            </a>

            <a class="my-btn btn btn-outline-danger ml-2 float-right" id="btn-changePassword"
               data-toggle="tab" href="#changePassword" role="tab" (click)="resetButton('review')">
              Change Password
            </a>
          </div>
        </div>
      </div>

      <!--Content-->
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="timeline" role="tabpanel">
          <app-home-company (eventAction)="checkEventAction($event)" [items]="lstPost" [idCompany]="idCompany"></app-home-company>
        </div>
        <div class="tab-pane fade" id="createAndEdit" role="tabpanel">
          <app-create-product [idProduct]="idProduct"></app-create-product>
        </div>
        <div class="tab-pane fade" id="historyReview" role="tabpanel">
          <app-review-list-company (eventAction)="checkEventAction($event)" [idCompany]="idCompany"></app-review-list-company>
        </div>
        <div class="tab-pane fade" id="updateProfile" role="tabpanel">
          <app-update-profile (eventAction)="checkEventAction($event)" ></app-update-profile>
        </div>
        <div class="tab-pane fade" id="changePassword" role="tabpanel">
          <app-change-password></app-change-password>
        </div>
      </div>

    </div>
  </div>
</div>
<button (click)="resetButton('e')" id="btn-reset-data-company" style="display: none;"></button>
