<div class="w-80 margintop">
  <div class="row">
    <div class="col-3">
      <!-- avatar -->
      <div class="boderavt">
        <img src="{{detailCompany.imgAvatarCompany}}"
             class="" alt="">
      </div>
    </div>
    <div class="col-9 ">
      <!-- backgroud -->
      <div class="boderbg rounded">
        <img
          src="{{detailCompany.imgPanelCompany}}"
          class="" alt="">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <!-- menu left -->
      <div class="boderbody-left text-left">
        <h4 class="">{{detailCompany.nameCompany}}</h4>
      </div>
    </div>
    <div class="col-9 ">
      <!-- menu company -->
      <div class="menucpn">
        <div class="row" style="padding-left: 5px">
          <div *ngIf="checkAuthGuard() && !isCompanyAccount()">
            <div *ngIf="!isFollowed; else elseBlock">
              <button class="btn btn-outline-info btnmargin margin-left"
                      (click)="followCompany(detailCompany.idCompany, 'follow')">
                Subscribe
              </button>
            </div>
            <ng-template #elseBlock>
              <button class="btn btn-outline-info btnmargin margin-left"
                      (click)="followCompany(detailCompany.idCompany, 'unfollow')">
                <i class="fas fa-check"> Subscribed</i>
              </button>
            </ng-template>

          </div>
          <div *ngIf="checkAuthGuard() && isCompanyAccount()">
            <button class="btn btn-outline-info btnmargin margin-left" id="changeCreateProduct" (click)="changeIsPostProduct()">
              <i class="fas fa-edit"></i>
              <span style="padding-right: 8px">{{txtPostProduct}}</span>
            </button>
          </div>
          <div style="padding-left: 5px" *ngIf="checkAuthGuard() && !isCompanyAccount()">
            <button class="btn btn-outline-success btnmargin margin-right"><i class="fas fa-star">
              View Review Company</i></button>
          </div>
        </div>
      </div>

      <!--Content-->
      <div>
        <app-create-product *ngIf="isPostProduct"></app-create-product>
        <app-home-company [items]="lstPost" *ngIf="!isPostProduct"></app-home-company>
      </div>
    </div>
  </div>


</div>
