.boderavt{
    
    
    height: 230px; 
}
.boderavt img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid white;
}
.boderbg{
    
    height: 300px;
    border-radius: 0.25rem;
    background-color: #fff;
    border-radius: 0.25rem;
}
.boderbg img{
    width: 100%;
    height: 100%;
}
.menucpn{
    background-color: #fff;
    margin-top: 10px;
    border-radius: 0.25rem;

}
.btnmargin{
    margin: 5px 0;
}
.boderbody-mid{
    
    height: 600px;
    background-color: #fff;
}
.boderbody-left{
    /* border: solid 1px  rgb(185, 178, 178); */
    height: 400px;
}

.bodercpn{
    border-radius: 0.25rem;
    height: 200px;
    background-color: #fff;
}
.bodercpn iframe{
    width: 100%;
}
.margintop{
    margin-top: 15px !important;
}
.w-80{
    width: 80%;
    margin: 0 auto;
}

    
.scroll-bar-hidden {
    overflow: scroll !important;
    /* overflow-x: hidden !important; */
}

.scroll-bar-hidden::-webkit-scrollbar {
    width: 0px; 
}

.scroll-bar-hidden::-webkit-scrollbar-thumb {
    background: #FF0000;
    }