<div mat-dialog-content style="height: 600px;">
  <!--<div class="modal fade bd-example-modal-lg show" id="modal-detail-product" tabindex="-1" role="dialog">-->
  <!--  <div class="modal-dialog modal-lg">-->
<!--  <div class="modal-content">-->
    <div class="modal-header p-0 pb-1">
      <h5 class="modal-title" id="exampleModalLabel">Information Detail Of {{dataDetail.productName}}</h5>
      <button type="button" class="close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-12 mb-4">
          <img [src]="dataDetail.imgPost" style="width: 100%; max-width: 900px; margin: 0 auto"/>
        </div>
        <div class="col-sm-6">
          <p class="detail-table-header">Platform</p>
          <p class="detail-table-content">
            <span>OS</span>
            <span>{{dataDetail.infoPerformance.platform.os}}</span>
          </p>
          <p class="detail-table-content">
            <span>Chip</span>
            <span>{{dataDetail.infoPerformance.platform.chip}}</span>
          </p>
          <p class="detail-table-content">
            <span>CPU</span>
            <span>{{dataDetail.infoPerformance.platform.cpu}}</span>
          </p>
          <p class="detail-table-content">
            <span>GPU</span>
            <span>{{dataDetail.infoPerformance.platform.gpu}}</span>
          </p>
          <p class="detail-table-header">Display</p>
          <p class="detail-table-content">
            <span>Resolution</span>
            <span>{{dataDetail.infoDisplay.resolution}}</span>
          </p>
          <p class="detail-table-content">
            <span>Size</span>
            <span>{{dataDetail.infoDisplay.size}}</span>
          </p>
          <p class="detail-table-content">
            <span>Type</span>
            <span>{{dataDetail.infoDisplay.type}}</span>
          </p>
          <p class="detail-table-header">Battery</p>
          <p class="detail-table-content">
            <span>Capacity</span>
            <span>{{dataDetail.infoBattery.capacity}}</span>
          </p>
          <p class="detail-table-content">
            <span>Type</span>
            <span>{{dataDetail.infoBattery.type}}</span>
          </p>
        </div>
        <div class="col-sm-6">
          <p class="detail-table-header">Memory</p>
          <p class="detail-table-content">
            <span>Card</span>
            <span>{{dataDetail.infoPerformance.memory.card}}</span>
          </p>
          <p class="detail-table-content">
            <span>Internal</span>
            <span>{{dataDetail.infoPerformance.memory.internal}}</span>
          </p>
          <p class="detail-table-header">Design</p>
          <p class="detail-table-content">
            <span>Dimensions</span>
            <span>{{dataDetail.infoDesign.dimensions}}</span>
          </p>
          <p class="detail-table-content">
            <span>Weight</span>
            <span>{{dataDetail.infoDesign.weight}}</span>
          </p>
          <p class="detail-table-header">Camera Main</p>
          <p class="detail-table-content">
            <span>Modules</span>
            <span>{{dataDetail.infoCamera.main.modules}}</span>
          </p>
          <p class="detail-table-content">
            <span>Features</span>
            <span>{{dataDetail.infoCamera.main.features}}</span>
          </p>
          <p class="detail-table-content">
            <span>Video</span>
            <span>{{dataDetail.infoCamera.main.video}}</span>
          </p>
          <p class="detail-table-header">Camera Selfie</p>
          <p class="detail-table-content">
            <span>Modules</span>
            <span>{{dataDetail.infoCamera.self.modules}}</span>
          </p>
          <p class="detail-table-content">
            <span>Features</span>
            <span>{{dataDetail.infoCamera.self.features}}</span>
          </p>
          <p class="detail-table-content">
            <span>Video</span>
            <span>{{dataDetail.infoCamera.self.video}}</span>
          </p>
        </div>
      </div>
    </div>
<!--  </div>-->
  <!--  </div>-->
  <!--</div>-->

</div>
