<div class="container-confirm">
  <table class="table table-striped table-hover my-table" >
    <thead>
      <tr>
        <th class="w-0-5">#</th>
        <th class="w-2">Name</th>
        <th class="w-2">Address</th>
        <th class="w-1-5">Website</th>
        <th class="w-1">Zip Code</th>
        <th class="w-1">Date Create</th>
        <th class="w-1">Tel Phone</th>
        <th class="w-1">Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of data; let idx = index">
        <td class="font-weight-bold">{{idx + 1}}</td>
        <td>{{item.name}}</td>
        <td>{{item.address}}</td>
        <td>{{item.website}}</td>
        <td>{{item.zipCode}}</td>
        <td>{{item.dateCreate | ddmmyyyy}}</td>
        <td>{{item.telPhone}}</td>
        <td>Actions</td>
      </tr>
    </tbody>


  </table>
</div>
