.container-confirm {
  width: 100%;
  background: white;
  overflow: scroll;
  font-size: 14px;
}

.my-table {
  width: 1150px;
}

tr {
  cursor: pointer;
}


.w-0-5 {
  width: 5%;
}

.w-1 {
  width: 10%;
}

.w-1-5 {
  width: 15%;
}

.w-2 {
  width: 20%;
}

.w-3 {
  width: 30%;
}

.w-4 {
  width: 40%;
}

.w-5 {
  width: 50%;
}

.w-6 {
  width: 60%;
}

.w-7 {
  width: 70%;
}

.w-8 {
  width: 80%;
}

.w-9 {
  width: 90%;
}

.w-9 {
  width: 100%;
}
