<div *ngIf="typeUser">
  <div class="d-flex align-items-stretch">
    <div class="container">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-6">
              <h2>Manage Business Account</h2>
            </div>
            <div class="col-sm-6">
                <input class="form-control" type="text" (click)="search()" [formControl]="queryField" placeholder="Search"  autofocus>
            </div>
          </div>
        </div>
        <div class="container-confirm">
          <table class="table table-striped table-hover my-table">
            <thead>
            <tr>
              <th class="w-0-5">#</th>
              <th class="w-2">Name</th>
              <th class="w-2">Address</th>
              <th class="w-2">Website</th>
              <th class="w-1">Tel Phone</th>
              <th class="w-1-5">Email</th>
              <th class="w-0-5">AVG Rating</th>
              <th class="w-0-5" *ngIf="check">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of listCompany; let idx = index">
              <td class="font-weight-bold">{{idx + 1}}</td>
              <td>{{item.nameCompany}}</td>
              <td>{{item.addrCompany}}</td>
              <td>{{item.webCompany}}</td>
              <td>{{item.telCompany}}</td>
              <td>{{item.emailCompany}}</td>
              <td>{{item.avgRatingComp}}</td>
              
              <td *ngIf="check">
                <a [class]="item.active ? 'accept' : 'delete'"  (click)="lock(item)"><i [class]="item.active ? 'fas fa-unlock' : 'fas fa-lock'"></i></a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="clearfix">
          <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
          <ul class="pagination">
            <li class="page-item disabled"><a href="#">Previous</a></li>
            <li class="page-item active"><a href="#" class="page-link">1</a></li>
            <li class="page-item"><a href="#" class="page-link">2</a></li>
            <li class="page-item"><a href="#" class="page-link">3</a></li>
            <li class="page-item"><a href="#" class="page-link">4</a></li>
            <li class="page-item"><a href="#" class="page-link">5</a></li>
            <li class="page-item"><a href="#" class="page-link">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!typeUser">
    <div class="d-flex align-items-stretch">
      <div class="container">
        <div class="table-wrapper">
          <div class="table-title">
            <div class="row">
              <div class="col-sm-6">
                <h2>Manage Reviewer Account</h2>
              </div>
              <div class="col-sm-6">
                  <input class="form-control" type="text" (click)="search()" [formControl]="queryField" placeholder="Search"  autofocus>
              </div>
            </div>
          </div>
          <div class="container-confirm">
            <table class="table table-striped table-hover my-table">
              <thead>
              <tr>
                <th class="w-1">#</th>
                <th class="w-2">Name</th>
                <th class="w-1-5">Gender</th>
                <th class="w-3">Email</th>
                <th class="w-1-5">Birthday</th>
                <th class="w-1" *ngIf="check">Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of listReviewer; let idx = index">
                <td class="font-weight-bold">{{idx + 1}}</td>
                <td>{{item.fullName}}</td>
                <td>{{item.gender ? 'man' : 'woman'}}</td>
                <td>{{item.email}}</td>
                <td>{{item.dateOfBirth | ddmmyyyy}}</td>
                <td *ngIf="check">
                  <a [class]="item.active ? 'accept' : 'delete'" (click)="lock(item)">
                    <i [class]="item.active ? 'fas fa-unlock' : 'fas fa-lock'"></i>
                  </a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

          <div class="clearfix">
            <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
            <ul class="pagination">
              <li class="page-item disabled"><a href="#">Previous</a></li>
              <li class="page-item active"><a href="#" class="page-link">1</a></li>
              <li class="page-item"><a href="#" class="page-link">2</a></li>
              <li class="page-item"><a href="#" class="page-link">3</a></li>
              <li class="page-item"><a href="#" class="page-link">4</a></li>
              <li class="page-item"><a href="#" class="page-link">5</a></li>
              <li class="page-item"><a href="#" class="page-link">Next</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>
