<div class="bodercpn text-center" style="min-height: 250px">
  <h4 class="pt-3 mb-0">
    <span class="pt-1">Rating Review</span>
  </h4>

  <div *ngIf="curTotalReview !== 0">
    <p class="text-center mt-3 m-0">
      <span class="mr-1 badge badge-info">({{currentRate}}/5)</span> in {{curTotalReview}} review
    </p>

    <ng-template #t let-fill="fill">
    <span class="star" [class.full]="fill === 100">
      <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
    </span>
    </ng-template>
    <ngb-rating [(rate)]="currentRate" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
  </div>

  <div *ngIf="curTotalReview === 0">
    <h4 class="text-center mt-3 mb-3">This company has no reviews</h4>
  </div>

  <div *ngIf="checkAuthGuard() && !isCompanyRole()">
    <button class="btn btn-outline-info" (click)="showReview()">
      Review this Company
    </button>
  </div>

</div>
