<div class="row">
  <div class="col-8">
    <div class="boderbody-mid scroll-bar-hidden">
      <form style="background: white; padding: 20px" class="mb-3 clearfix" [formGroup]="formUpdateCompany">

        <div class="form-group">
          <label for="EditCompany_Email">Name</label>
          <input type="text" class="form-control" id="EditCompany_Email" formControlName="name" />
          <app-text-alert [field]="'name'" [invalidField]="'name'" style="width: 100%"
                          [form]="formUpdateCompany"
                          [invalidForm]="validatorForm.formUpdateCompany"></app-text-alert>
        </div>

        <div class="form-group">
          <label for="EditAddressCompany">Address</label>
          <input type="text" class="form-control" id="EditAddressCompany" formControlName="address" />
          <app-text-alert [field]="'address'" [invalidField]="'address'" style="width: 100%"
                          [form]="formUpdateCompany"
                          [invalidForm]="validatorForm.formUpdateCompany"></app-text-alert>
        </div>

        <div class="form-group">
          <label for="EditCompany_Website">Website</label>
          <input type="text" class="form-control" id="EditCompany_Website" formControlName="website" />
          <app-text-alert [field]="'website'" [invalidField]="'website'" style="width: 100%"
                          [form]="formUpdateCompany"
                          [invalidForm]="validatorForm.formUpdateCompany"></app-text-alert>
        </div>

        <div class="form-group">
          <label for="EditCompany_Tel">Phone</label>
          <input type="text" class="form-control" id="EditCompany_Tel" formControlName="phone" />
          <app-text-alert [field]="'phone'" [invalidField]="'phone'" style="width: 100%"
                          [form]="formUpdateCompany"
                          [invalidForm]="validatorForm.formUpdateCompany"></app-text-alert>
        </div>

        <button type="button" class="btn btn-warning float-right ml-3" (click)="clearProfile()" >Clear</button>
        <button type="button" class="btn btn-info float-right" (click)="updateProfile()" >Save</button>
      </form>
    </div>
  </div>
  <div class="col-4 sticky-top" style="z-index: 999;">
    <app-table-review [idCompany]="idUser" ></app-table-review>
  </div>
</div>

