<div class="container-post" *ngIf="item.active">
  <div class="header clearfix">
    <div class="avatar">
      <img [src]="item.avatarCompany" alt="avatar"/>
    </div>
    <div class="info clearfix">
      <div style="width: 80%" class="float-left">
        <p class="title"><a class="txt-main" [routerLink]="'/company/' + item.idCompany">{{item.nameCompany}}</a></p>
        <p class="title-des">{{item.dtCreated | ddmmyyyy}}</p>
      </div>
      <div style="width: 10%" class="float-right dropdown">

        <button *ngIf="item.idCompany === idUser" class="btn-menu-product float-right" (click)="addLabel('dropdown_product_'+item.idProduct)" role="button"
                type="button" [id]="'dropdown_product_'+item.idProduct" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">...</button>
        <div class="dropdown-menu">
          <a class="dropdown-item" (click)="deleteProduct(item.idProduct)">Delete</a>
          <a class="dropdown-item" (click)="editProduct(item)">Edit</a>
        </div>
      </div>
    </div>
  </div>
  <div class="body">
    <div class="content">
      <h5 class="mb-2">{{item.productName}}</h5>
      <p>{{item.content}}</p>
    </div>
    <div class="image">
      <img [src]="item.imgPost" alt="image" [id]="'contentImage' + item.idPostProduct">
    </div>
    <div class="rating">
      <div class="row">

        <div class="col-2">
          <div class="number-rating-total">
            <span>{{(item.avgDesign + item.avgBattery + item.avgCamera + item.avgPerformance + item.avgDisplay) / 5 | floatFixed}}</span>
          </div>
        </div>

        <div class="col-2">
          <div class="number-rating">
            <p class="point">{{item.avgPerformance | floatFixed}}</p>
            <p class="description">Performance</p>
          </div>
        </div>

        <div class="col-2">
          <div class="number-rating">
            <p class="point">{{item.avgDisplay | floatFixed}}</p>
            <p class="description">Display</p>
          </div>
        </div>

        <div class="col-2">
          <div class="number-rating">
            <p class="point">{{item.avgCamera | floatFixed}}</p>
            <p class="description">Camera</p>
          </div>
        </div>

        <div class="col-2">
          <div class="number-rating">
            <p class="point">{{item.avgBattery | floatFixed}}</p>
            <p class="description">Battery</p>
          </div>
        </div>

        <div class="col-2">
          <div class="number-rating">
            <p class="point">{{item.avgDesign | floatFixed}}</p>
            <p class="description">Design</p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div *ngIf="checkAuthGuard()">
    <div class="footer">
      <div class="group-button">
        <div class="row">
          <div [class]="!item.status ? (!isCompanyRole() ? 'col-3' : 'col-0') : 'col-4'">
            <p class="btn-post" (click)="toggleRatings(item.idProduct, item.idReviewer)">
              <img src="../../../../assets/image/icon/rating/2x/outline_assistant_black_48dp.png" alt="rating">
              <span>Rating</span>
            </p>
          </div>
          <div [class]="!item.status ? (!isCompanyRole() ? 'col-3' : 'col-4') : 'col-4'">
            <p class="btn-post" (click)="showComment(item.idProduct)" [id]="'btnShowAllComment'+item.idProduct">
              <img src="../../../../assets/image/icon/comment/2x/outline_mode_comment_black_48dp.png" alt="rating">
              <span>Comments</span>
            </p>
          </div>
          <div [class]="!item.status ? (!isCompanyRole() ? 'col-3' : 'col-4') : 'col-0'">
            <p class="btn-post" *ngIf="item.status !== 'detail'" (click)="compareProduct(item)">
              <img src="../../../../assets/image/icon/compare/2x/outline_compare_black_48dp.png" alt="rating">
              <span>Compare</span>
            </p>
          </div>
          <div [class]="!item.status ? (!isCompanyRole() ? 'col-3' : 'col-4') : 'col-4'">
            <p class="btn-post" (click)="detailProduct(item)">
              <img src="../../../../assets/image/icon/info/2x/outline_info_black_48dp.png" alt="rating">
              <span>Detail</span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container-comment" >
      <app-comment-post [idProduct]="item.idProduct"></app-comment-post>
    </div>

    <div class="comment clearfix">
      <div class="avatar-comment">
        <label [id]="'label'+item.idProduct" [for]="'inputComment'+item.idProduct" class="m-0">
          <img *ngIf="userInfo" [src]="userInfo.imgAvatar" alt="avatar image"/>
        </label>
      </div>
      <div class="input-comment">
        <input [id]="'inputComment'+item.idProduct" class="form-control" type="text" [(ngModel)]="valueComment" (keydown.enter)="postComment($event)"/>
      </div>
    </div>

  </div>
</div>
