.search-form {
  margin: auto;
}
.border-radius {
  margin: 5px;
  border: 2px solid #17A2B8;
  padding: 5px;
  border-radius: 25px;
}
.size-img {
  width: 100%;
  height: 385px;
  position: relative;
  display: inline-block;
}
.img-content {
  width:100%;
  height:100%;
  object-fit:cover;
}

.size-img .text{
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 40%; /* Adjust this value to move the positioned div up and down */
  text-align: center;
  width: 60%; /* Set the width of the positioned div */
  color : white;
}
.compare-product {
  margin: 10px auto;
  width: 200px;
  height: 260px;
  position: relative;
  display: flex;
  align-items: center;
}
.btn-close-comp {
  position: relative;
  top: -10px;
  right: 10px;
  padding: 2px 8px 6px 8px;
  border-radius: 50%;
  background: red;
  color: white;
  line-height: 18px;
  font-size: 19px;
  cursor: pointer;
  width: 20px;
  height: auto;
}


/*Detail*/

.table-compare, .table-compare th, .table-compare tr, .table-compare p, .table-compare td {
  border-color: #f2f2f2 !important;
}

.my-margin {
  margin: 12px !important;
}

.current {
  padding: 0;
}

.detail-table-header {
  padding: 12px;
  background: #f2f2f2;
  color: #c0392b;
  margin: 0;
  font-weight: bold;
  min-height: 50px;
}

.my-col-compare {
  padding: 0;
  min-width: 30%;
}

.none {
  display: none !important;
}

.image-compare {
  width: 100%;
  /*padding: 5px;*/
}

/*.detail-table-header.sub {*/
/*  display: none;*/
/*}*/

.detail-table-content-title {
  padding: 7px;
  margin: 0;
  font-weight: bold;
  border-bottom: 1px solid silver;
  min-height: 40px;
}

.detail-table-content {
  padding: 7px;
  margin: 0;
  border-bottom: 1px solid silver;
}

.detail-table-content span {
  display: inline-block;
}

.detail-table-content span:first-child {
  width: 30%;
  font-weight: bold;
}

.detail-table-content span:last-child {
  width: 69%;
}
