<div class="row p-main">
  <div class="col-3">
    <app-top-company></app-top-company>
  </div>
  <div class="col-9">
    <div class="size-img">
      <img class="img-fluid img-content" src="../../../assets/image/review.jpg">
      <div class="text">
        <h1 style="font-size: 4.5rem;">COMPARE SPECS</h1>
      </div>
    </div>
  </div>
</div>
<div class="p-main">
  <table class="table table-compare" style="background: white">
    <tr *ngFor="let key of arrName; let idx = index">
      <th *ngIf="isCheckTh(key)" style="border: 1px solid silver; width: 10%;">{{key}}</th>
      <th *ngIf="!isCheckTh(key)" class="detail-table-header text-uppercase">{{key}}</th>
      <td *ngFor="let data of lstPost" style="border-right: 1px solid" class="my-col-compare no-3">
        <div *ngIf="isCheckTd(arrayOfKeys[idx], idx) === 'sub'" class="detail-table-header">
            <div class="progress" style="width: 85%; float: left; margin-top: 4px">
              <div [class]="isCheckClass(key, data)" role="progressbar"
                   [style.width]="isCheckPer(key, data)" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <span style="float: right">{{isCheckNumber(key, data) | floatFixed}}</span>
        </div>
        <p *ngIf="isCheckTd(arrayOfKeys[idx], idx) === 'text'" class="my-margin">{{data.content[arrayOfKeys[idx]]}}</p>
        <img *ngIf="isCheckTd(arrayOfKeys[idx], idx) === 'image'" [src]="data.content[arrayOfKeys[idx]]"  alt="image product" class="image-compare"/>
        <p *ngIf="isCheckTd(arrayOfKeys[idx], idx) === 'name'" class="my-margin">
          {{data.content[arrayOfKeys[idx]]}}
          <button type="button" class="float-right" aria-label="Close" title="Remove Product" (click) ="removeProduct(data.idPostProduct)">
            <span aria-hidden="true">&times;</span>
          </button>
        </p>
      </td>
    </tr>
  </table>
</div>


<!--<div class="border-radius">-->
<!--  <p class="text-center">Compare With</p>-->
<!--  <form class="form-inline">-->
<!--    <div class="search-form">-->
<!--      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--      <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>-->
<!--    </div>-->
<!--  </form>-->
<!--  <div>-->
<!--    <button type="button" class="close" aria-label="Close" title="Remove Product" (click) ="removeProduct(pro.idPostProduct)">-->
<!--      <span aria-hidden="true" class="btn-close-comp">&times;</span>-->
<!--    </button>-->
<!--    <div class="compare-product">-->
<!--      <img class="img-fluid img-content" src="{{pro.imageProduct}}">-->
<!--    </div>-->
<!--    <div>-->
<!--      <table class="table">-->
<!--        <thead>-->
<!--        <tr>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <td style="width: 60px"></td>-->
<!--        </tr>-->
<!--        <tbody>-->
<!--        <tr class="table-active">-->
<!--          <th scope="row">Battery</th>-->
<!--          <td>-->
<!--            <div class="progress">-->
<!--              <div class="progress-bar" role="progressbar"-->
<!--                   aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"-->
<!--                   [ngStyle]="{'width.%' : pro.avgBattery}">-->
<!--              </div>-->
<!--            </div>-->
<!--          </td>-->
<!--        </tr>-->
<!--        <tr class="table-active">-->
<!--          <th scope="row">Display</th>-->
<!--          <td>-->
<!--            <div class="progress">-->
<!--              <div class="progress-bar" role="progressbar"-->
<!--                   aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"-->
<!--                   [ngStyle]="{'width.%' : pro.avgDisplay}">-->
<!--              </div>-->
<!--            </div>-->
<!--          </td>-->
<!--        </tr>-->
<!--        <tr class="table-active">-->
<!--          <th scope="row">Performance</th>-->
<!--          <td>-->
<!--            <div class="progress">-->
<!--              <div class="progress-bar" role="progressbar"-->
<!--                   aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"-->
<!--                   [ngStyle]="{'width.%' : pro.avgPerformance}">-->
<!--              </div>-->
<!--            </div>-->
<!--          </td>-->
<!--        </tr>-->
<!--        <tr class="table-active">-->
<!--          <th scope="row">Camera</th>-->
<!--          <td>-->
<!--            <div class="progress">-->
<!--              <div class="progress-bar" role="progressbar"-->
<!--                   aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width.%' : pro.avgCamera}">-->
<!--              </div>-->
<!--            </div>-->
<!--          </td>-->
<!--        </tr>-->
<!--        <tr class="table-active">-->
<!--          <th scope="row">Design</th>-->
<!--          <td>-->
<!--            <div class="progress">-->
<!--              <div class="progress-bar" role="progressbar"-->
<!--                   aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width.%' : pro.avgDesign}">-->
<!--              </div>-->
<!--            </div>-->
<!--          </td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--      </table>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
