<div class="row p-main">
  <div class="col-3">
    <app-top-company></app-top-company>
  </div>
  <div class="col-9">
<img sytle="width: 100%" src="../../../assets/image/review.jpg">
  </div>
</div>
<div class="row p-main">
  <div class="col-4 border-radius">
      <p class="text-center">Compare With</p>
      <form class="form-inline">
        <div class="search-form">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </div>
      </form>
  </div>
  <div class="col-4">
    <p class="text-center">Compare With</p>
    <form class="form-inline">
      <div class="search-form">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
      </div>
    </form>
  </div>
  <div class="col-4">
    <p class="text-center">Compare With</p>
    <form class="form-inline">
      <div class="search-form">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
      </div>
    </form>
  </div>
</div>
